.explanation {
  margin: 16px 24px 48px 0;
  padding: 32px 32px 20px;
  -webkit-box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
          box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
  background: #116629;
  opacity: .86;
  color: #EFEFEF;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.explanation a {
  color: #EFEFEF;
}

.participation {
  margin: 16px 24px 48px 0;
  padding: 32px 32px 20px;
  -webkit-box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
          box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
  background: #116629;
  opacity: .86;
  color: #EFEFEF;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.participation a {
  color: #EFEFEF;
}

.benefits {
  margin: 16px 24px 48px 0;
  padding: 32px 32px 20px;
  -webkit-box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
          box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
  background: #116629;
  opacity: .86;
  color: #EFEFEF;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.requirements {
  margin: 16px 24px 48px 0;
  padding: 32px 32px 20px;
  -webkit-box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
          box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
  background: #116629;
  opacity: .86;
  color: #EFEFEF;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.requirements a {
  color: #EFEFEF;
}

#zen-supporting {
  margin: 48px 0 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  padding: 20px 20px 0;
}

/************************** Slide Show **************************/
#zen-supporting {
  height: 480px;
  /*slide show window size */
  width: 1920px;
  position: relative;
  overflow: hidden;
}

#zen-supporting > * {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-animation: 300s autoplay2 infinite ease-in-out;
          animation: 300s autoplay2 infinite ease-in-out;
  /* Slide time 5min*/
}

@-webkit-keyframes autoplay2 {
  0% {
    top: 100%;
  }
  2% {
    /*30s going up */
    top: 0%;
  }
  20% {
    /*55s stop */
    top: 0%;
  }
  22% {
    /*5s go up up */
    top: -100%;
  }
  100% {
    /* stop */
    top: -100%;
  }
}

@keyframes autoplay2 {
  0% {
    top: 100%;
  }
  2% {
    /*30s going up */
    top: 0%;
  }
  20% {
    /*55s stop */
    top: 0%;
  }
  22% {
    /*5s go up up */
    top: -100%;
  }
  100% {
    /* stop */
    top: -100%;
  }
}

/* EXPLAIN */
#zen-supporting > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/* PARTICIPATION */
#zen-supporting > *:nth-child(2) {
  -webkit-animation-delay: 60s;
          animation-delay: 60s;
}

/* BENEFITS */
#zen-supporting > *:nth-child(3) {
  -webkit-animation-delay: 120s;
          animation-delay: 120s;
}

/* REQUIREMENTS */
#zen-supporting > *:nth-child(4) {
  -webkit-animation-delay: 180s;
          animation-delay: 180s;
}

/* FOOTER */
#zen-supporting > *:nth-child(5) {
  -webkit-animation-delay: 240s;
          animation-delay: 240s;
}

/*************************** FOOTER PROPERTIES ***************************/
footer {
  margin: 80px 24px 0 0;
  padding: 32px 32px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
          box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85);
  background: #116629;
  opacity: .86;
  color: #EFEFEF;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 1440px;
  height: 80px;
}

footer a {
  color: #EFEFEF;
}

ul {
  list-style-type: none;
  line-height: 24px;
}

li:hover {
  list-style-image: url("https://img.icons8.com/fluency/25/000000/flower.png");
}

/*************************** Footer ICONS ***************************/
footer a {
  height: 50px;
  width: 50px;
  text-indent: 200%;
  overflow: hidden;
  padding: 10px;
}

.zen-validate-html {
  background-image: url("https://img.icons8.com/nolan/64/html-5.png");
  background-position: center;
  background-repeat: no-repeat;
}

.zen-validate-css {
  background-image: url("https://img.icons8.com/nolan/64/css-filetype.png");
  background-position: center;
  background-repeat: no-repeat;
}

.zen-license {
  background-image: url("https://img.icons8.com/nolan/64/guarantee.png");
  background-position: center;
  background-repeat: no-repeat;
}

.zen-accessibility {
  background-image: url("https://img.icons8.com/external-bearicons-gradient-bearicons/64/000000/external-approved-approved-and-rejected-bearicons-gradient-bearicons-1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.zen-github {
  background-image: url("https://img.icons8.com/nolan/64/github.png");
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=zen-support+footer.css.map */